.estiloacercade{       
    background-image: url(./img/acercade.jpg);   
    background-size: cover;       
    padding-top: 30%;
    padding-bottom: 30%;
    font-size: 220%;
    color: rgb(85, 219, 219);
    font-family: Arial, Helvetica, sans-serif;           
    text-align: center;          
}