.estilomapa{        
    font-size: 220%;
    color: rgb(132, 85, 219);
    font-family: Arial, Helvetica, sans-serif;  
    text-align:center ;
    padding: 5%;
}
ul{
    text-align: center;
}
h3{
    text-align: center;
}